<div class="container">  
    <div class="row">
      <div class="col-xs-12">
        <div class="success alert alert-success" role="alert">
            <h4 class="alert-heading">Victory</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis feugiat metus. Curabitur et volutpat nunc, et luctus justo. Ut fringilla ante eu quam fermentum, vitae egestas dui mollis. Nam odio odio, lobortis et lacus in, rhoncus elementum sapien. Ut posuere justo ornare lorem porta consequat?!
        </div>
        </div>
    </div>
</div>