<div class="container">  
    <div class="row">
      <div class="col-xs-12">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Achtung!</h4>
            Morbi bibendum orci in tortor facilisis sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec vestibulum erat, ut imperdiet magna. Aliquam condimentum consequat felis, id imperdiet purus malesuada in. Nunc rhoncus rhoncus urna, ac suscipit turpis. Nam tempus tempus tellus a tempus.
        </div>
        </div>
    </div>
</div>